/* css reset for form control*/

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: 0.7fr 1.5fr 8fr;
};

.top{
grid-row:1 ;
}

.header{
    grid-row: 2;
}

.container{
    grid-row: 3;
}

body *{
    border: 1px solid red;
}

