@font-face {
    font-family: "roboto";
    src: url(resources/fonts/RobotoCondensed-Regular.woff) format('woff'),
        url(resources/fonts/RobotoCondensed-Regular.woff2) format('woff2');
}

:root {
    font-family: 'roboto', system-ui;
}

/* css reset for form control*/

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* body{
    background-color: black;
} */
.wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 3px;
    grid-template-rows: 0.7fr 1.5fr 8fr;
    box-sizing: border-box;
    border-radius: 10px;
}

.top {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    flex-wrap: wrap;
    background-color: azure;

}

.top>div:first-child {
    font-size: 1.5rem;
}

.login-buttons {
    grid-column: 2;
    display: flex;
    gap: 3rem;
}

.login-buttons>button {
    padding: 3px 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-buttons>button:first-of-type {
    background-color: white;
    color: blueviolet;
    font-weight: 900;
    border: 2px solid blueviolet;
}

.login-buttons>button:last-of-type {
    background-color: blueviolet;
    color: white;
    font-weight: 800;
}

#right-arrow-icon {
    width: 1rem;
    height: 1rem;
}

.login-buttons>span {
    display: flex;
    align-items: center;
    gap: 5px
}


.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-row: 2;
    padding: 0 40px;
    gap: 10rem;
    background-image: url(resources/background/gradient.jpg);
    color: white;
}

#website-name {
    font-size: 4rem;
    transform: skew(-20deg);
}

#caret-down {
    width: 1rem;
    height: 1rem;
}

#navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
}

#header-links>ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: flex-end;
    margin: 0;
    font-size: 1.3rem;
}

#user-icon {
    width: 4.5rem;
    height: 4.5rem;
}

#search-bar {
    display: flex;
    align-items: center;
    /* width: 100%;
    height: 100%; */
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 5rem;
}

#search-bar>input {
    width: 400px;
    height: 2rem;
    border-radius: 100px;
    padding: 2px 10px;
}

#search-bar div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;

}

#search-bar div:last-child>p {
    margin: 0;
    font-size: 1.3rem;
}

.container {
    grid-row: 3;
    display: grid;
    grid-template-rows: 1.5fr 3fr;
    /* border: 3px solid rgb(0, 0, 54); */
    border-radius: 10px;
    border: 3px solid lightcyan;

}



#genre-section {
    grid-row: 1;
    padding: 10px 40px;
    background-color: azure;

    display: grid;
    grid-template-rows: max-content 1fr;

}

.arrow-icon {
    width: 3rem;
    height: 3rem;
}

.genre-icons {
    width: 6rem;
    height: 6rem;
    border-radius: 5px;
}

#genre-section>div:first-child {
    font-size: 1.7rem;
    font-weight: 500;
}

#genre-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

#genre-container>div:first-child>div {
    transform: rotate(180deg);
    padding: 8px;
    background-color: lightgray;
    border-radius: 500px;
}

#genre-container>div:last-child>div {
    padding: 8px;
    background-color: lightgray;
    border-radius: 500px;
}

#genre-container>div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#genre-container>div:first-child,
#genre-container>div:last-child {
    display: flex;
    padding: 8px;
}

.genre-icons-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.genre-icons-container>p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;

}

#book-container {
    grid-row: 2;
    display: grid;
    grid-template-rows: max-content 1fr 3rem;
    box-sizing: border-box;
    background-color: rgb(0, 0, 54);
    /* background-image: url(resources/background/black.jpg);
    color: white; */
}

#heading-for-book-container {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10rem;
    padding: 10px 40px;
}

#heading-for-book-container>div {
    font-size: 1.7rem;
}

#heading-for-book-container>button {
    font-size: 1.4rem;
    padding: 8px 2rem;
    background-color: green;
    border-radius: 100px;
    border: 3px solid gold;
    color: white;
    font-weight: 700;
}

#book-holder {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    padding: 1rem 5rem;
    gap: 2rem;
}

/* card styling section */

.card {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    border: 8px solid blue;
    padding: 10px;
    overflow: hidden;
    border-radius: 20px;
    background-color: azure;
}

.card-heading {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 1.2rem;
    transform: skew(-50deg);
    letter-spacing: 3px;
    background-color: blue;
    color: orange;
    font-weight: 900;
    margin-bottom: 5px;
}

.card-details {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.card-details>li::marker {
    content: "💠 ";
}

.card-buttons {
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding: 0 1rem;
}

.card-buttons>button {
    width: 4rem;
    border: none;
    border-radius: 100px;
    padding: 3px 0;
    color: white;
    font-weight: 700;
}

.edit-button {
    background-color: blue;
}

.delete-button {
    background-color: red;
}

#footer {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
}

/* form control styles */
.form-container {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
}

form {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 2rem;
    border: 8px solid blue;
    padding: 4rem 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    z-index: 999;
}

form>div:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

form input,
select {
    width: 250px;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid black;
}

form label {
    font-size: 1.1rem;
    font-weight: 600;
}

form label>span {
    color: red;
}

form>div {
    display: flex;
    justify-content: space-between;
}

form>div:last-child>button {
    padding: 2px 1rem;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

#cancel-button {
    background-color: red;
}

#reset-button {
    background-color: orange;
}

#submit-button {
    background-color: blue;
}